<!DOCTYPE html>
<html>
<head>
	<title></title>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
</head>
<body>
<form>
	<input type="text" id="m" oninput ="typing()">
	<button id="ss" onclick="getusername()">Enter User name</button>
</form>
<% if(userdetails!==""){ %>
<ul>
<% for(var i=0; i<userdetails.length; i++) {%>
   <li><%= userdetails[i].name %></li>
<% } %>
</ul>
<%}%>
<h5 id="type"></h5>
<h5 id="username"></h5>
<ul id="messages"></ul>
<ul id="connectedusers"></ul>
<a href="/connectedusers"><button onclick="showconnectedusers()">users</button></a>
<script>
  var socket = io();
  var x=0,y=0;
   $('form').submit(function(){
   	document.getElementById('type').innerHTML="";
   	if ($('#m').val()!== "") {
    socket.emit('chat message', $('#m').val());
}
    $('#m').val('');
    return false;
  });
  socket.on('chat message', function(msg){
  	document.getElementById('type').innerHTML="";
  	x=0;
  	y=y+1;
  	console.log(document.getElementById('ss').innerHTML);
  	if(y>1)
    	$('#messages').append($('<li>').text(msg));
  });
  socket.on('typing',function(msg){
  	x=x+1;
  	if (x==1) 
  	 $('#type').append(msg);

  });
  function typing(){
  	socket.emit('typing',"User is typng");
  }
  function getusername(){
  	if(($("#m").val()!=="")&&(document.getElementById('ss').innerHTML=="Enter User name")){
  		localStorage.setItem("username",$("#m").val());
  		document.getElementById('ss').innerHTML="Send message";
  		document.getElementById('username').innerHTML=$("#m").val();
  		var aa=$("#m").val();
  		console.log(aa);
  		$.post('/username',{"name":aa});
  	}

  }
  function showconnectedusers(){
  	$.get('/connectedusers',function(data){
  	});
  }
</script>

</script>
</body>
</html>