<!DOCTYPE html>
<html>
<head>
	<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
</head>
<body>
	<style>
		body{
			overflow-x:hidden;
			overflow-y: auto;
			height: 100%;
			width: 100%; 
		}
		#body{
			display: flex;
			flex-wrap: wrap;
		}
		button{
			font-size: 16px;
			background-color:#64B5F6;
			border:none; 
			text-decoration: none;
			padding: 15px 32px;
			color: white;
			position: static;
		}
		#MessageForms {
			display: none;
			position: relative;
			margin-left: 30%;
			width: 50vw;
			height: 85vh;
			padding-right: 20px;
			border: 1px solid black;
			margin-right: 100px;
		}
		#messageinput{
			position: relative;
			width: 100%;
			margin-left: 40%;
			margin-top: 20px;

		}
		#messageinput input{
			width:250px; 
			height:25px;
			position: static;
		}
		.
		#messages{
			display: none;
		}
		#usernameform{
			position: absolute;
			text-align: center;
			display: block;
			top: 40%;
			left: 35%;
		}
		#usernameform input{
			width: 100%;
			height: 30px;
		}
		#usernameform button{
			margin-top: 20px;
		}
		#MessageData{
			float: right;
			overflow-y: auto;
			height: 70vh;
		}
		ul{
			list-style-type: none;
		}
		#connectedusers  {
			width: 30%;
			position: absolute;
			text-align: center;
			top: 0;
		}
		a{
			text-decoration: none;

		}
		a:link{
			color: blue;
		}
		a:visited{
			color: black;
		}
		a:hover{
			color: blue;
		}
		#users{
			padding: 0;
		}
		@media 	(max-width: 800px){
			#usernameform{
				width: 80%;
				margin: 0;
				left: 10%;
			}
			#usernameform input{
				height: 40px;
				font-size: 30px;
				width: 100%;
			}
			#usernameform button{
				font-size: 20px;
			}
			#messageinput{
				position: relative;
				left: 0;
				margin: 0;
				left: 4%;
				margin-top: 30px;
			}
			#messageinput input{
				width: 60%;
				height: 20px;
				font-size: 30px;
				margin-top: 5px;

			}
			#messageinput button{
				font-size: 10px;
				padding: 5px 10px;
				height: 30px;
			}
			#MessageForms{
				margin-right: 0;
				position: relative;
				padding-right: 0;
				width: 90%;
				left: 3%;
				margin-left: 0%;
				height:60vh;	
			}
			#connectedusers{
				width: 100%;
				position: relative;
			}
			#users{
				padding: 0;
			}
		}
	</style>
	<div id="body" >
		<div id="usernameform">
			<form>
				<input type="text" id="user">
				<button id=sendusername>Enter User Name</button>
			</form>
		</div>
		<div id="MessageForms">
			<div id="MessageData"></div>
			</div>
			<form id="messageinput">
				<input type="text" id="typing" oninput="Usertyping()">
				<button id="sendmessage" onclick="clear()">Send Mesage</button>
			</form>
		<div id="connectedusers">
			<h3>Online Users</h3>
			<ul id="users"><li><a href="#">EveryUsers</a></li></ul>
		</div>
		<div id=messages>Wrong User</div>
		<div id="UserTyping"></div>
	</div>
	<script>
		var usern="";
		$('#messages').hide();
		$('#messageinput').hide();
		$('#connectedusers').hide();
		var socket = io.connect();
		$('#sendmessage').click(function(e){
			e.preventDefault();
			if ($('#typing').val()!=="") {
				console.log("messaged");
				socket.emit('chat message',$('#typing').val());
			}
			$('#typing').val("");
		});
		$('#sendusername').click(function (e){
			e.preventDefault();
			if ($('#user').val()!=="") {
				socket.emit('username',$('#user').val(),function(data){
					if (data) {
						$('#usernameform').hide();
						$('#MessageForms').show();
						$('#messageinput').show();
						$('#connectedusers').show();
					}
					else{
						$('#messages').show();
					}
				});
			}
		});
		socket.on('chat message',function(msg){
			var html="";
			html= html+'<b>'+msg.username+":</b>"+msg.msg+"<br/>";
			$('#MessageData').append(html);
			document.getElementById('UserTyping').innerHTML="";


		});
		socket.on('usernames',function(data){
			var html="";
			for (var i = 0; i < data.length; i++) {

				html=html+"<li><a href=#>"+data[i]+"</a><li>";
			}
			$('#users').html(html);
		});
		socket.on('typing',function(data){
			$('#UserTyping').html(data);
		});
		$('#users').on('click','li',function(){
			$.get('/'+$(this).text(),function(){});
		});
		function Usertyping(){
			$('#UserTyping').show();
			socket.emit('typing',"User is typing");
		}
		function clear(){
			console.log("clear");
			$('#UserTyping').hide();
		}
	</script>
</script>
</body>
</html>