<!DOCTYPE html>
<html>
<head>
	<title></title>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
</head>
<body>
	<style>
		body{
			overflow-x:hidden; ;
		}
		button{
			font-size: 16px;
			background-color:#64B5F6;
			border:none; 
			text-decoration: none;
			padding: 15px 32px;
			color: white;
			position: static;
		}
		#MessageForms {
			display: none;
			position: absolute;
			margin-left: 30%;
			width: 50vw;
			height: 85vh;
			padding-right: 20px;
			border: 1px solid black;
			margin-right: 100px;
		}
		#messageinput{
			position: absolute;
			top: 90vh;
			width: 100%;
			margin-left: 40%;

		}
		#messageinput input{
			width:250px; 
			height:25px;
			position: static;
		}
		.
		#messages{
			display: none;
		}
		#usernameform{
			position: absolute;
			text-align: center;
			display: block;
			top: 40%;
			left: 35%;
		}
		#usernameform input{
			width: 100%;
			height: 30px;
		}
		#usernameform button{
			margin-top: 20px;
		}
		#MessageData{
			float: right;
			overflow-y: auto;
			height: 70vh;
		}
		ul{
			list-style-type: none;
		}
		#connectedusers  {
			width: 30%;
			display: none;
			text-align: center;
		}
		a{
			text-decoration: none;

		}
		a:link{
			color: blue;
		}
		a:visited{
			color: black;
		}
		a:hover{
			color: blue;
		}
	</style>
	<div id="usernameform">
		<form>
			<input type="text" id="user">
			<button id=sendusername>Enter User Name</button>
		</form>
	</div>
	<div id="MessageForms">
		<div id="MessageData"></div>
		</div>
		<form id="messageinput">
			<input type="text" id="typing" oninput="Usertyping()">
			<button id="sendmessage" onclick="clear()">Send Mesage</button>
		</form>
	<div id="connectedusers">
		<h3>Online Users</h3>
		<ul id="users"></ul>
	</div>
	<div id=messages>Wrong User</div>
	<div id="UserTyping"></div>
	<script>
		var usern="";
		$('#messages').hide();
		$('#messageinput').hide();
		$('#connectedusers').hide();
		var socket = io.connect();
		$('#sendmessage').click(function(e){
			console.log("B");
			e.preventDefault();
			if ($('#typing').val()!=="") {
				console.log("messaged");
				socket.emit('chat message',$('#typing').val());
			}
			$('#typing').val("");
		});
		$('#sendusername').click(function (e){
			e.preventDefault();
			if ($('#user').val()!=="") {
				socket.emit('username',$('#user').val(),function(data){
					if (data) {
						$('#usernameform').hide();
						$('#MessageForms').show();
						$('#messageinput').show();
						$('#connectedusers').show();
					}
					else{
						$('#messages').show();
					}
				});
			}
		});
		socket.on('chat message',function(msg){
			var html="";
			html= html+'<b>'+msg.username+":</b>"+msg.msg+"<br/>";
			console.log(msg);
			$('#MessageData').append(html);
			document.getElementById('UserTyping').innerHTML="";


		});
		socket.on('usernames',function(data){
			var html="";
			for (var i = 0; i < data.length; i++) {

				html=html+"<li><a href=#>"+data[i]+"</a><li>";
			}
			$('#users').html(html);
		});
		socket.on('typing',function(data){
			$('#UserTyping').html(data);
		});
		$('#users').on('click','li',function(){
			console.log("clicked");
			console.log($(this).text());
			$.get('/'+$(this).text(),function(){});
		});
		function Usertyping(){
			$('#UserTyping').show();
			socket.emit('typing',"User is typing");
		}
		function clear(){
			console.log("clear");
			$('#UserTyping').hide();
		}
	</script>
</script>
</body>
</html>