<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
</head>
<body>
  <style>
    body{
      overflow-x:hidden; ;
    }
    button{
      font-size: 16px;
      background-color:#64B5F6;
      border:none; 
      text-decoration: none;
      padding: 15px 32px;
      color: white;
      position: static;
    }
    #MessageForms {
      display: none;
      position: absolute;
      margin-left: 30%;
      width: 50vw;
      height: 85vh;
      padding-right: 20px;
      border: 1px solid black;
      margin-right: 100px;
    }
    #messageinput{
      position: absolute;
      top: 90vh;
      width: 100%;
      margin-left: 40%;

    }
    #messageinput input{
      width:250px; 
      height:25px;
      position: static;
    }
    .
    #messages{
      display: none;
    }
    #MessageData{
      float: right;
      overflow-y: auto;
      height: 70vh;
    }
    ul{
      list-style-type: none;
    }
    #connectedusers  {
      width: 30%;
      display: none;
      text-align: center;
    }
    a{
      text-decoration: none;

    }
    a:link{
      color: blue;
    }
    a:visited{
      color: black;
    }
    a:hover{
      color: blue;
    }
  </style>
  <div id="MessageForms">
    <div id="MessageData"></div>
  </div>
    <form id="messageinput">
      <input type="text" id="typing" oninput="Usertyping()">
      <button id="sendmessage" onclick="clear()">Send Mesage</button>
    </form>
  <div id="connectedusers">
    <h3>Online Users</h3>
    <ul id="users"></ul>
  </div>

<script>
  var socket = io();
  $('#sendmessage').click(function (e) {
    e.preventDefault();
    if ($('#typing').val()!=="") {
      socket.emit('message',$('#typing').val());
    }
    $('#typing').val("");
  });
  socket.on('message',function(msg){
      var html="";
      html= html+'<b>'+msg.username+":</b>"+msg.msg+"<br/>";
      console.log(msg);
      $('#MessageData').append(html);
      document.getElementById('UserTyping').innerHTML="";
  });
  
</script>
</body>
</html>